html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  color: #2f3035;
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
  /* min-width: 320px; */
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page__section {
  margin-bottom: 80px;
}



.menu__mobile--item{
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu__mobile--list{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  width: 243px;
  transform: translateX(-100%);
  transition: all .4s;
  position: absolute;
  z-index: 10;
  background-color: #fff;
}
.menu__mobile--list-active{
  transform: translateX(0);
}
.menu__mobile--link{
  padding-left: 53px;
  display: block;
  padding-top: 36px;
}
.menu__mobile--img{
  position: absolute;
  left: 11px;
  bottom: 0;
}
.menu__mobile--linewrapper{
  display: none;
}
.aside__btn{
  display: none;
}
.product__card--btn-mobile{
  display: none;
}
.footer__top--drop{
   pointer-events: none; 
}








.header__top--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
.menu__item {
  display: inline-block;
}
.menu__btn{
  display: none;
}
.menu__item + .menu__item {
  padding-left: 50px;
}
.header__box {
  display: flex;
}
.header__adress {
  margin-right: 60px;
  width: 285px;
  padding-left: 30px;
  position: relative;
}
.header__adress::before {
  content: "";
  position: absolute;
  background-image: url("../images/adress-icon.svg");
  width: 30px;
  height: 30px;
  left: 0;
  top: -10px;
}
.user__list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.user__list--item {
  padding-right: 10px;
  position: relative;
}
.basket_num {
  position: absolute;
  font-family: "SFProDisplay-Medium", sans-serif;
  font-size: 13px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: #1c62cd;
  text-align: center;
  bottom: -5px;
  right: -3px;
}
.header__bottom {
  margin-bottom: 78px;
}
.menu__categoreis {
  background-color: #f0f0f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}
.menu__categoreis--link {
  padding: 15px 0 14px;
  transition: all 0.3s;
  position: relative;
}
.menu__categoreis--link::before {
  content: "";
  width: 0;
  left: auto;
  bottom: -2px;
  right: 0;
  position: absolute;
  background-color: #1c62cd;
  height: 3px;
  transition: all 0.3s;
}
.menu__categoreis--link:hover {
  color: #000;
}
.menu__categoreis--link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.banner__section--inner {
  display: flex;
  justify-content: space-between;
}
.banner__section--slider {
  max-width: 870px;
}
.banner__section--slider-btn,
.product__slider--slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
  outline: none;
}
.banner__section--slider-btnprev {
  left: 20px;
}
.banner__section--slider-btnnext {
  right: 20px;
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}
.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
}
.slick-dots .slick-active button{
  background-color: #fff;
}
.slick-active li button {
  background-color: #fff;
}
.banner__section--slider-item {
}
.banner__section--item {
}
.sale__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
.sale__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale__item--info {
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;

  color: #fff;
  background-color: #1c62cd;
}
.sale__item--price {
  text-align: right;
}
.price {
  font-family: "Barlow", sans-serif;
  position: relative;
}
.sale__item--price-new {
  margin-right: 6px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1c62cd;
}
.sale__item--price-new::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons-price.svg");
  right: 0;
  top: 8px;
  width: 15px;
  height: 18px;
}
.sale__item--price-old {
  padding: 2px 5px;
  margin-right: 15px;
  font-weight: 400;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  background-image: url("../images/old-line.svg");
  background-repeat: no-repeat;
}
.sale__item--price-old::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons-price-old.svg");
  width: 8px;
  height: 10px;
  right: -10px;
  top: 5px;
}
.sale__item--img {
  object-fit: contain;
}
.banner__section-slider {
  object-fit: cover;
  min-height: 400px;
}
.sale__item--title {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 21px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
.sale__item--footer {
  padding: 23px 20px;
  background-color: #f0f0f4;
  font-size: 18px;
  line-height: 21px;
}
.sale__item--footer span {
  color: #1c62cd;
  display: block;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}






.search__tabs {
  margin-bottom: 25px;
}
.search__tabs--item {
  padding: 11px 26px;
}
.search__tabs--item.tab-active {
  border-radius: 5px;
  background-color: #f0f0f4;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}
/* tabs__content products__content tabs__content-active */
.tabs__content {
  display: none;
}
.tabs__content.tabs__content-active {
  display: block;
}
.search__content--form {
  display: flex;
}
.search__content--input {
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #f0f0f4;
  border: none;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}
.search__content--input::placeholder {
  color: #656464;
}
.search__content--btn {
  margin-left: -3px;
  padding: 17px 41px;
  font-size: 14px;
  line-height: 17px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #1c62cd;
  border-radius: 3px;
  border: none;
}

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories__item {
  padding: 20px 20px 16px;
  margin-bottom: 30px;
  border: 1px solid #cdcdcd;
  width: 370px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.categories__item--info {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories__img {
  text-align: center;
  width: 50%;
}
.categories__img img {
  max-width: 100%;
}
.categories__item--title {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  transition: all 0.3s;
}
.categories__item:hover .categories__item--title {
  color: #1c62cd;
}
.categories__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}
.categories__item--text {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}








.product__item--wpapper{
  position: relative;
   width: 271px; 
  transition: all .2s;
}
.product__item{
  width: 100%;
}
.product__item--wpapper.product__item--wpapper-list{
  width: 100%;
}
.product__item {
  padding: 52px 20px 31px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  transition: all .4s; 
  min-height: 400px;
}
.product__item--favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  outline: none;
  background-color: transparent;
  border: none;
  z-index: 5;
}
.product__item--favorite::before{
  position: absolute;
  content: '';
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url('../images/favorite.svg');
}
.product__item--favorite-active::before{
  background-image: url('../images/favorite-active.svg');
}
.product__item--hover-text {
  padding: 18px 21px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 30%;
   opacity: 0;
   transition: all .4s; 
}
.product__item:hover .product__item--hover-text{
  opacity: 1;
  color:  #2f3035;
}
.product__item:hover{
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  color: #1c62cd;
}
.product__item--title {
  padding: 14px 0 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.product__item--sale::before{
  content: 'SALE';
  padding: 8px 15px;
  background-color:#1c62cd ;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}
.product__item--price {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.product__item--basket {
  padding-top: 7px;
  position: absolute;
  width: 60px;
  height: 40px;
  background-color: #1c62cd;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 10;
}
.product__item--wpapper.product__item--not-available .product__item--price{
  display:none;
}
.product__item--notify-text{
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F3035;
}
.product__item--wpapper.product__item--not-available .product__item--notify-text{
  display: block;
}
.product__item--wpapper.product__item--not-available .product__item--basket{
  display: none;
}
.product__item--notify-link{
  display: none;
}
.product__item--wpapper.product__item--not-available .product__item--notify-link{
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  color:  #1c62cd;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}
.product__item--wpapper.product__item--not-available .product__item--notify-link span{
  text-align: center;
  border-bottom: 1px solid  #1c62cd;
}
.product__item--wpapper.product__item--not-available .product__item--title{
 padding-bottom: 13px;
}

.product__title {
  font-family: Barlow,sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}
.tabs__wrapper {
}
.tabs {
}
.products__tabs {
  margin-bottom: 25px;
}
.tab {
}
.tab-active {
}
.product__tab + .product__tab {
 margin-left: 50px;
}
.product__tab{
  padding-bottom: 10px;
}
.product__tab.tab-active{
  border-bottom: 2px solid #1c62cd;
}
.product__slider--slider-btnprev {
  left: -40px;
}
.product__slider--slider-btnnext {
  right: -40px;
}
.slick-slide img{
  display: inline;
}
.product__more--link{
  padding: 16px 43px;
  background-color: #F0F0F4;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform:uppercase;
}
.product__more{
  text-align: center;
  margin: 35px 0 0px;
}
.products{
  margin-bottom: 80px;
}
.banner{
  margin-bottom: 80px;
}



.footer {
  background-color: #F0F0F4;
}
.footer__top--item.footer__top--newslatter{
  width: 295px;
  margin-right: 50px;
}
.footer__top {
  padding-top: 43px;
}
.footer__top--inner {
  display: flex;
  justify-content: space-between;
}
.footer__top--item {
  width: 210px;
}
.footer__top--title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
.footer__form {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}
.footer__form--input {
  padding: 0 12px;
  background-color: #fff;
  border: none;
  font-size: 14px;
  line-height: 17px;
}
.footer__form--input::placeholder{
  color: #C4C4C4;
}
.footer__form--btn{
  padding: 10px 16px;
  text-transform: uppercase;
  border: none;
  background-color:  #1C62CD;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.12em;
}
.footer__list {
  font-size: 14px;
  line-height: 22px;
}
.footer__top--social.footer__top--item{
  width: 250px;
}
.footer__list--item {
}
.social__list {
  display: flex;
  align-items: center;
  height: 100%;
}
.social__list--item + .social__list--item {
  margin-left: 30px;
}
.footer__bottom {
  padding: 46px 0 22px;
  display: flex;
  justify-content: center;
}
.footer__bottom--link {
  font-size: 12px;
  line-height: 12px;
  color: #48494D;
  margin: 0 40px;
}


.breadcrumbs__list {
}
.breadcrumbs__list--item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}
.breadcrumbs__list--item::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  background-image: url('../images/Back.svg');
  background-repeat: no-repeat;
  width: 6px;
  height: 9px;
}
.breadcrumbs__list--item:last-child::after{
  display: none;
}
.breadcrumbs{
  margin-bottom: 40px;
}



.catalog{
  margin-bottom: 100px;
}
.catalog__title{
  margin-bottom: 26px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.catalog__filter{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.catalog__filter-items button{
  padding: 5px 22px;
  font-size: 14px;
  line-height: 17px;
  background-color: #F0F0F4;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.catalog__filter-items button + button{
  margin-left: 8px; 
}
.catalog__filter--btn button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.catalog__filter--btn{
  display: flex;
  align-items: center;
}
.catalog__filter--btn button + button{
  margin-left: 10px;
}
.select__item{
  margin-right: 34px;
  padding: 7px 10px 7px 20px;
  border: 1.5px solid #D7D9DF;
  font-size: 14px;
  line-height: 17px
}
button.catalog__filter--btngrid{
  width: 26px;
  height: 21px;
}
button.catalog__filter--btnline{
  width: 25px;
  height: 19px;
}
.catalog__filter--btngrid,
.catalog__filter--btnline{
  opacity: 0.3;
  outline: none;
}
.catalog__filter--button{

}
.catalog__filter--button-active{
  opacity: 1;
}
.catalog__inner{
  display: flex;
}
.catalog__inner--aside{
  margin-right: 10px;
  min-width: 290px;
}
.catalog__inner--list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog__inner--list .product__item--wpapper{
  margin-bottom: 30px;
}
.product__item--img{
  width: 100%;  
}
.pagination{
  width: 100%;
  margin-top: 70px;
}
.pagination__list {
  display: flex;
  justify-content: center;
}
.pagination__list--item{
  padding: 6px 12px;
  border: 2px solid transparent;
  margin: 0 5px;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}
.pagination__list--item.active {
  border: 2px solid #1C62CD;
  color: #1C62CD;
}
.pagination__list--item a{
  display: block;
}



.aside__filter--tabs{
  display: flex;
  justify-content: space-between;
}
.aside__filter--tab{
  width: 50%;
  font-weight: 400;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #C4C4C4;
}
.aside__filter--tab.tab-active{
  color: #2F3035;
  font-weight: 700;
}
.aside__filter--tab.tab-active span{
  padding-bottom: 7px;
  display: inline-block;
  border-bottom: 2px solid #1C62CD;
}
.aside__filter--item-drop{
  margin: 40px 0;
}
.aside__filter--item-title{
  padding-left: 26px;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.filter__item-drop{
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before{
  content: "";
  position: absolute;
  background-image: url('../images/arrow-down.svg');
  left: 0;
  bottom: 5px;
  width: 12px;
  height: 8px;
  transform: rotate(0deg);
}
.filter__item-drop--active::before{
  transform: rotate(180deg);
}
.aside__filter--content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.aside__filter--content-box{
  width: 50%;
  margin-bottom: 10px;
}
.aside__filter--content-label{
  font-size: 14px;
  line-height: 17px;
}
.jq-checkbox, .jq-radio{
  margin: 0 8px 0 0;
  background: #fff;
  vertical-align: -2px;
  width: 14px;
  height: 14px;
  border: 1px solid #C4C4C4;
  border-radius: 1px;
  box-shadow: none;
}
.jq-checkbox.checked, .jq-radio.checked{
  background:#1c62cd;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-bottom: none;
  border-left: none;
  transform: rotate(0);
  background-image: url('../images/Check-icon.svg');
}

.jq-radio.checked .jq-radio__div {
  width: 0px;
  height: 0px;
  margin: 0;
  border-radius: 0;
  background:transparent;
  box-shadow: none;
}
.aside__filter--content.aside__filter--content-radio{
  flex-wrap: nowrap;
}

.irs--flat.irs-with-grid{
  width: 100%;
}
 .irs--flat{ 
  width: 100%;
  margin-top: -15px;
}
/*.irs-from{ 
  display: none;
}*/

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max{
  top: 55px;
  padding: 0;
  color: #2F3035;
  font-size: 14px;
  line-height: 17px;
  text-shadow: none;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
}
.irs-min::before,
.irs-max::before{
  padding-right: 12px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}
.irs-min::before{
  content: "от";
}
.irs-max::before{
  content: "до";
}

.irs--flat .irs-line {
  top: 25px;
  height: 1px;
  background-color: #e1e4e9;
  border-radius: 0;
}
.irs--flat .irs-bar {
  top: 25px;
  height: 3px;
  background-color: #1C62CD;
}
.irs--flat .irs-handle {
  top: 22px;
  width: 8px;
  height: 8px;
  background-color:#1C62CD;
  border-radius: 50%;
}
.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background-color: transparent;
}
.aside__filter--item-list{
  margin: 46px 0 40px;
  
}
.filter__item--list{
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #C4C4C4;
}
.filter__item--list-title{
  padding-left: 26px;
  padding-bottom: 14px;
  font-family: 'SFProDisplay-Semibold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.filter__item--list-select{
  font-size: 14px;
  line-height: 17px;
  color: #48494D;
}
.jq-selectbox__select {
  font-size: 14px;
  line-height: 17px;
  color: #48494D;
  height: 20px;
  padding: 0 25px 0 10px;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
.jq-selectbox__trigger-arrow{
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
 border: none;
}
.jq-selectbox__trigger {
  border-left: none;
  background-image: url('../images/arrow-down.svg');
  bottom: 5px;
  top: 6px;
  right: 9px;
  width: 12px;
  height: 8px;
}
.jq-selectbox__select:hover,
.jq-selectbox__select:active{
  background: transparent;
  box-shadow: none;
}
.jq-selectbox.focused .jq-selectbox__select{
  border: none;
}
.filter__more{
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  
}
.filter__more--btn{
  padding: 0;
  border: none;
  border-bottom: 1px solid #1C62CD;
  background-color: transparent;
  color: #1C62CD;
}
.filter__search{
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 20px;
  width: 100%;
  border: 1px solid #E0E0E0;
  height: 30px;
  font-size: 12px;
  line-height: 14px;
 
}
.filter__search::placeholder{
  color: #BDBEC2;
}
.btn-checked .aside__filter--content{
  flex-wrap: nowrap;
  justify-content: space-between;
}
.btn-checked .aside__filter--content-box{
  width: auto;
}
.btn-checked .aside__filter--content-label{
  position: relative;
  height: 25px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  color: #C4C4C4;
  width: 63px;
}
.btn-checked__text{
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-57%);
  z-index: 5;
}
.btn-checked .jq-checkbox{
  height: 25px;
  width: 63px;
  background:#F0F0F4;
}
.btn-checked .jq-checkbox.checked{
  background:  #1C62CD;
  color: #fff;
}
.btn-checked .jq-checkbox.checked ~ .btn-checked__text{
  color: #fff;
}
.btn-checked .jq-checkbox.checked .jq-checkbox__div{
  display: none;
}


.filter__btn--send{
  margin-bottom: 15px;
  padding: 16px 85px;
  background:#F0F0F4;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  border: none;
  color: #BDBEC2;
  cursor: pointer;
}
.filter__btn--send-active{
  background: #1C62CD;
  color: #fff;
}
.aside__filter--item-btn{
  text-align: center;
}
.filter-extra{
  margin-bottom: 15px;
  padding-right: 29px;
  font-size: 13px;
  display: inline-block;
  line-height: 16px;
  position: relative;
}
.filter-extra::after{
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 12px;
  height: 8px;
  background-image: url('../images/arrow-down.svg');
}
.filter-extra__content{
  display: none;
}
.filter-extra.filter__item-drop--active::after{
  transform: rotate(180deg);
}
.filter__btn--reset{
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #C4C4C4;
}





.product__card{
  margin-bottom: 80px;
}

.product__card--inner {
  display: flex;
  justify-content: space-between;
}
.product__card--img-box {
  padding-top: 64px;
  width: 500px;
  text-align: center;
  font-family: Barlow, sans-serif;
  position: relative;
}
.product__card--img-box::before{
  font-weight: 15px;
  padding: 13px 25px;
  line-height: 18px;
  border-radius: 3px;
}
.product__card--price-old {
  font-size: 30px;
  line-height: 36px;
  opacity: 0.6;
  display: inline-block;
}
.product__card--price-new {
  margin-bottom: 17px;
  font-weight: bold;
  font-family: Barlow, sans-serif;
  font-size: 40px;
  line-height: 48px;
  
}
.product__card--link {
  font-size: 15px;
  line-height: 18px;
  color: #1C62CD;
}
.product__card--content {
  width: 570px;
}
.product__card--title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  margin-bottom: 10px;
}
.product__card--code {
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 18px;
  color: #2F3035;
  opacity: 0.6;
}
.product__card--buttons {
  margin-bottom: 50px;
}
.product__card--buttons a + a{
  margin-left: 30px;
}

.product__card--tab {
  margin-bottom: 5px;
  padding-right: 17px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  opacity: 0.6;
}
.product__card--tab + .product__card--tab{
  padding-left: 17px;
}
.product__card--tab.tab-active{
  opacity: 1;
  border-bottom: 2px solid #1c62cd;
  font-weight: 700;
  font-family: 'SFProDisplay-Bold', sans-serif;
}

.product__card--list {
  margin-bottom: 20px;
}
.product__card--item {
  padding: 15px 0 6px;
  border-bottom: 1px solid #2F3035;
  display: flex;
  justify-content: space-between;
}
.product__card--item-left {
  padding-right: 15px;
}
.product__card--item-right {
  width: 125px;
}
.product__card--more {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 17px;
  color: #1C62CD;
  border-bottom: 1px solid #1C62CD;
}
.product__card--btn button{
  padding: 16px 56px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #1c62cd;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}





.card__tabs {
  margin-bottom: 100px;
}
.card__tab--box{
  margin-bottom: 50px;
  padding: 22px 0;
  background: #F0F0F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__tab.tab-active{
  border-bottom: 1px solid #1c62cd;
  opacity: 1;
}
.card__tab {
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  opacity: 0.6;
}
  
.card__label--search {
  font-size: 17px;
  line-height: 20px;
  color: #2F3035;
}
.card__input--search {
  margin-right: 100px;
  margin-left: 17px;
  padding: 9px 37px  17px;
  background: #F0F0F4;
  border-radius: 3px;
  border: none;
}
.card__label--pickup {
  margin-left: 54px;
  font-size: 17px;
  line-height: 20px;
  color: #2F3035;
}
.card__list {
}
.card__list--item {
  padding: 20px 0;
  border-bottom: 1px solid #2F3035;
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: #2F3035;
}
.card__list--address {
  width: 220px;
  margin-right: 80px;
}
.card__list--item-title{
  color: #2F3035;
  font-size: 20px;
  line-height: 24px;

}
.card__list--workhours {
  width: 173px;
  margin-right: 80px;
}
.card__list--workhours span{
  display: block;
}
.card__list--avialable {
  width: 140px;
  margin-right: 60px;
}
.card__list--num {
  width: 104px;
}
.card__list--btn {
  margin-left: auto;
}
.card__list--btn button{
  padding: 9px 40px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  background: #1C62CD;
  border-radius: 3px;
  border: none;
}


.product__slider .slick-dots{
  bottom: -30px;
}
.product__slider .slick-dots button{
  background-color: #C4C4C4;
  outline: none;
}
.product__slider .slick-dots .slick-active button{
  background-color: #1c62cd;
}